# pnpm configuration
# Allow post-install build scripts for packages that require native binaries / code generation.
# See: https://pnpm.io/npmrc#onlybuiltdependencies

onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=@scarf/scarf
